#main {
  position: relative;
  width: 350px;
  height: 450px;
  border: 1px solid;
  border-radius: 10px;
  top: 20px;
  left: 50%;
  color: white;
}
#pupu {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  left: 28%;
  top: 30px;
}
#lala {
  position: absolute;
  left: 22%;
  top: 40%;
  font-size: 20px;
  font-weight: bold;
}
#site1 {
  position: absolute;
  width: 320px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  top: 60%;
  left: 4%;
  color: white;
  line-height: 40px;
  line-height: 3;
}
#site2 {
  position: absolute;
  width: 320px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  top: 80%;
  left: 4%;
  color: white;
  line-height: 40px;
  line-height: 3;
}
#lulu {
  background-color: indianred;
}
#caca {
  color: white;
}
#haha {
  color: white;
}
